body {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-family: 'Oxygen Mono';
}

hr {
    width: 75%;
}

.inputData {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 75%;
}

#addressInput {
    margin: 5px 0 20px 0;
    width: 100%;
}
