body {
    display: flex;
    flex-flow: column;
    align-items: center;

    font-family: 'Oxygen Mono';
}

hr {
    width: 90%;
}

/* INPUT FIELD STYLE */

header {
    width: 75%;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.inputArea {
    display: flex;
    justify-content: space-around;

    margin: 0 0 20px 0;
}

.inputArea > * {
    margin: 5px 10px;
}

.guidedInput {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
}

.guidedInputField {
    display: flex;
    justify-content: space-between;

    margin: 5px 5px;
}

.guidedInputField input {
    border: 0;
    border-bottom: 1px solid black;
}

.guidedInputField .inputError {
    border: 0;
    border-bottom: 1px solid red;
}

.guidedInputControls {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#addressInput {
    width: 300px;
    resize: none;
}

/* SWITCHES STYLE */

.switchOption {
    display: flex;
    border: 1px solid #000;
    border-radius: 30px;
    justify-content: space-between;
    width: max-content;
    align-self: center;
}

.switchOption span {
    margin: 2% 10px;
}

.switchOption input {
    margin: 2% 10px;
}

/* DATA TABLE STYLE */
#calculatedData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dataDisplayTable {
    border: 1px solid black;
    margin: 5px 5px;
    padding: 5px;

    display: flex;
    flex-flow: column;
    align-items: center;
    align-self: flex-start;
}

.dataDisplayTable td {
    padding: 2px 5px;
}

.greyRow {
    background-color: rgb(197, 196, 196);
}

.tableTitle {
    display: flex;
    flex-flow: column;
}

.titleHolder {
    display: flex;
    flex-flow: column;
}

/* TABLE VIEW CLASS */

.hidden {
    display: none;
}
